<% provide(:title, 'アイテム一覧') %>
<div id="fh5co-portfolio">
  <div class="container">
    <% if @search_word.present? %>
      <h3>”<%= @search_word %>”の検索結果：<%= @items.count %>件</h3>
    <% else %>
      <h3>アイテム一覧</h3>
    <% end %>
    <ul class="items">
      <%= render @items %>
    </ul>
    <%= will_paginate %>
  </div>
</div>